/* Global */
body {
    font-size: 0.9em;
}

/* Headings */
.content-header h1 {
    font-size: 1.1rem;
}


[class*=sidebar-dark-] {
    background-color: #074061;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #369d9c;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: rgb(255 255 255);
    color: rgb(0 62 147);
}

/*  Cards */
.card-title {
    font-size: 0.9rem;
    font-weight: 500;
}

.card-info:not(.card-outline)>.card-header {
    background-color: #00274e;
}

.card-info.card-outline {
    border-top-color: #00274e;
}

.page-item.active .page-link {
    background-color: #074061;
    border-color: #074061;
}

